<div ui-view>
  <md-toolbar class="md-table-toolbar md-accent">
    <div class="md-toolbar-tools">
      <span>Speakers</span>
      <span flex></span>
      <!-- <md-switch ng-model="speakers.activeFlag" aria-label="Active Switch" class="md-primary" >
        {{ speakers.activeFlag | activeStatus}}
      </md-switch> -->
      <span ng-bind-html="speakers.activeFlag | booleanFlag" ng-click="speakers.toggleActive()"></span>
      <a ui-sref="conference.speakers.new"><md-icon md-font-set="material-icons">add_box</md-icon></a>
    </div>
  </md-toolbar>

  <!-- exact table from live demo -->
  <md-table-container>
    <!-- <table md-table md-row-select multiple ng-model="selected" md-progress="promise"> -->
    <table md-table md-row-select multiple ng-model="selected" id="speakerList">
      <!-- <thead md-head md-order="speakers.order" md-on-reorder="getDesserts"> -->
      <thead md-head md-order="speakers.query.order">
        <tr md-row>
          <th md-column md-order-by="nameToLower"><span>First</span></th>
          <th md-column md-order-by="nameToLower"><span>Last</span></th>
          <th md-column md-order-by="nameToLower"><span>Title</span></th>
          <th md-column><span>Bio</span></th>
          <th md-column md-order-by="nameToLower"><span>Company</span></th>
          <th md-column md-order-by="nameToLower"><span>Country</span></th>
          <th md-column>Social</th>
          <th md-column>Keynote</th>
          <th md-column class="th-edit">Edit</th>
          <th md-column class="th-edit">Published</th>
          <th md-column class="th-edit">Images</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row md-select="speaker" md-select-id="_id" md-auto-select ng-repeat="speaker in speakers.speakers | activeFlag:speakers.activeFlag">
          <td md-cell>{{speaker.first}}</td>
          <td md-cell>{{speaker.last}}</td>
          <td md-cell>{{speaker.jobTitle}}</td>
          <td md-cell>{{speaker.bio | limitTo: 15}}<span ng-if="speaker.bio && speaker.bio.length > 15">...</span></td>
          <td md-cell>{{speaker.company}}</td>
          <td md-cell>{{speaker.country | countryCode}}</td>
          <td md-cell ng-bind-html="speaker.social | socialFlag"></td>
          <td md-cell ng-bind-html="speaker.keynote | booleanFlag:true"></td>
          <td md-cell>
            <a ui-sref="conference.speakers.speaker({speakerId: speaker._id})"><md-icon md-font-set="material-icons">edit</md-icon></a>
            <a ng-click="speakers.removeSpeaker($event, speaker)" ng-show="speaker.active"><md-icon md-font-set="material-icons">remove_circle</md-icon></a>
            <a ng-click="speakers.reactivateSpeaker(speaker)" ng-show="!speaker.active"><md-icon md-font-set="material-icons">undo</md-icon></a>
          </td>
          <td md-cell ng-bind-html="speaker.published | booleanFlag" ng-click="speakers.confirmPublication($event, speaker)"></td>
          <td md-cell ng-bind-html="speaker.images | speakerImages"></td>
        </tr>
      </tbody>
    </table>
  </md-table-container>


  <!-- <md-table-container>
    <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
      <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
        <tr md-row>
          <th md-column md-order-by="name"><span>Dessert (100g serving)</span></th>
          <th md-column md-order-by="type"><span>Type</span></th>
          <th md-column md-numeric md-order-by="calories.value" md-desc><span>Calories</span></th>
          <th md-column md-numeric md-order-by="fat.value"><span>Fat (g)</span></th>
          <th md-column md-numeric md-order-by="carbs.value"><span>Carbs (g)</span></th>
          <th md-column md-numeric md-order-by="protein.value"><span>Protein (g)</span></th>
          <th md-column md-numeric md-order-by="sodium.value" hide-gt-xs show-gt-md><span>Sodium (mg)</span></th>
          <th md-column md-numeric md-order-by="calcium.value" hide-gt-xs show-gt-lg><span>Calcium (%)</span></th>
          <th md-column md-numeric md-order-by="iron.value" hide-gt-xs show-gt-lg><span>Iron (%)</span></th>
          <th md-column md-order-by="comment">
            <md-icon>comments</md-icon>
            <span>Comments</span>
          </th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row md-select="dessert" md-on-select="logItem" md-auto-select="options.autoSelect" ng-disabled="dessert.calories.value > 400" ng-repeat="dessert in desserts.data | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
          <td md-cell>{{dessert.name}}</td>
          <td md-cell>
            <md-select ng-model="dessert.type" placeholder="Other">
              <md-option ng-value="type" ng-repeat="type in getTypes()">{{type}}</md-option>
            </md-select>
          </td>
          <td md-cell>{{dessert.calories.value}}</td>
          <td md-cell>{{dessert.fat.value | number: 2}}</td>
          <td md-cell>{{dessert.carbs.value}}</td>
          <td md-cell>{{dessert.protein.value | number: 2}}</td>
          <td md-cell hide-gt-xs show-gt-md>{{dessert.sodium.value}}</td>
          <td md-cell hide-gt-xs show-gt-lg>{{dessert.calcium.value}}%</td>
          <td md-cell hide-gt-xs show-gt-lg>{{dessert.iron.value}}%</td>
          <td md-cell ng-click="editComment($event, dessert)" ng-class="{'md-placeholder': !dessert.comment}">
            {{dessert.comment || 'Add a comment'}}
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container> -->

  <md-table-pagination md-limit="speakers.query.limit" md-limit-options="[30, 50, 100]" md-page="speakers.query.page" md-total="{{speakers.speakers.count}}" md-page-select></md-table-pagination>

  <!--
  <td><i class="glyphicon" ng-class="{'glyphicon-ok': speaker.linkedIn, 'glyphicon-remove': !speaker.linkedIn}"></i></td>
  <td><i class="glyphicon" ng-class="{'glyphicon-ok': speaker.twitter, 'glyphicon-remove': !speaker.twitter}"></i></td>
  <td><button class="btn btn-primary" ng-click="adminSpeakers.addSpeaker(speaker)"><i class="glyphicon glyphicon-pencil"></button></td>
  <td><button class="btn" ng-class="{'btn-danger': speaker.active, 'btn-default': !speaker.active}" ng-click="adminSpeakers.toggleSpeaker(speaker)"><i class="glyphicon" ng-class="{'glyphicon-remove': speaker.active, 'glyphicon-ok': !speaker.active}"></button></td> -->

</div>
