<div class="profile-menu">
  <div ng-click="userWidget.toggleMenu()" class="profile-details">
    <div class="profile-pic">

      <!--<img ng-src="{{userWidget.user.image}}" class="md-avatar" alt="{{userWidget.user.name}}" />-->
      <!-- <img src="./img/svg/avatar-1.svg" alt="{{userWidget.user.name}}" /> -->
    </div>
    <div class="profile-info" >
      {{userWidget.user.name}} <md-icon md-font-set="material-icons" ng-show="!userWidget.showMenu">keyboard_arrow_down</md-icon> <md-icon md-font-set="material-icons" ng-show="userWidget.showMenu">keyboard_arrow_up</md-icon>
    </div>
  </div>
  <md-list ng-cloak ng-show="userWidget.showMenu" class="main-menu">
    <md-list-item ui-sref="profile">
      <md-icon md-font-set="material-icons">person</md-icon> View Profile
    </md-list-item>
    <md-list-item ui-sref="logout">
      <md-icon md-font-set="material-icons">exit_to_app</md-icon> Logout
    </md-list-item>

    <md-divider></md-divider>
  </md-list>
</div>
