<md-dialog aria-label="UploadImage"  ng-cloak>
  <form name="speakerCtrl.speakerForm" ng-submit="speakerCtrl.saveSpeaker()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Upload Image</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-set="material-icons">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <label>IMAGE NAME FROM CALL</label>
        <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
          ngf-accept="'image/*'" ngf-max-size="2MB" ngf-min-height="300" ngf-max-height="300"
          ngf-min-width="300" ngf-max-width="300">Select</div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button > Save </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
