<h1> Welcome to Initiate Network</h1>

<h2>Select a Conference above to get started</h2>
<md-button class="md-raised md-primary" ng-click="home.showCreateForm()" access="admin">Create a new Conference</md-button>
<!--<md-icon aria-label="Create a new Conference" class="material-icons md-24 add-conference" ng-click="home.showCreateForm()">-->
<!--  add box-->
<!--</md-icon>-->

<div layout="column" ng-cloak class="md-inline-form" ng-if="home.showCreate">
  <md-content layout-padding>
    <form name="newConference" ng-submit="home.createConference()" >
      <md-input-container class="md-block">
        <label>Conference Name</label>
        <input ng-model="home.newConference.name" required>
        <div ng-messages="home.newConference.name.$error" role="alert">
          <div ng-message-exp="['required']">
            A conference name is required.
          </div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Year</label>
        <input ng-model="home.newConference.year" ng-pattern="/^[0-9]{4}$/" required maxlength="4">
        <div ng-messages="home.newConference.year.$error" role="alert">
          <div ng-message-exp="['required','pattern']">
            Please enter a four digit year.
          </div>
        </div>
      </md-input-container>
       <md-input-container class="md-block">
        <label>Email</label>
        <input required type="email" name="email" ng-model="home.newConference.email" ng-pattern="/^.+@.+\..+$/" />
        <div ng-messages="home.newConference.email.$error" role="alert">
          <div ng-message-exp="['required','pattern']">
            Your must enter an e-mail address.
          </div>
        </div>
      </md-input-container>
       <md-button class="md-raised md-primary" type="submit">Create</md-button>
       <md-button class="md-raised md-danger" ng-click="home.hideCreateForm()">Cancel</md-button>
    </form>
  </md-content>
</div>
