<md-sidenav class="md-sidenav-left" md-component-id="left"  md-disable-backdrop  md-whiteframe="4">
  <user-widget user="conf.user"></user-widget>

  <md-list>
    <md-list-item ui-sref="conference({conference: app.conference})" ui-sref-active="active">
        <md-icon md-font-set="material-icons">dashboard</md-icon>
        Dashboard
    </md-list-item>

    <md-list-item ui-sref="conference.streams" ui-sref-active="active">
        <md-icon md-font-set="material-icons">rowing</md-icon>
          Streams
    </md-list-item>

    <md-list-item ui-sref="conference.speakers" ui-sref-active="active">
        <md-icon md-font-set="material-icons">people</md-icon>
          Speakers
    </md-list-item>


    <md-list-item ui-sref="conference.sponsors" ui-sref-active="active">
        <md-icon md-font-set="material-icons">repeat</md-icon>
          Sponsors
    </md-list-item>


    <md-list-item ui-sref="conference.agendas" ui-sref-active="active">
        <md-icon md-font-set="material-icons">today</md-icon>
          Agendas
    </md-list-item>


    <md-list-item ui-sref="conference.sessions" ui-sref-active="active">
        <md-icon md-font-set="material-icons">airplay</md-icon>
          Sessions
    </md-list-item>

    <md-list-item ui-sref="conference.media" ui-sref-active="active">
        <md-icon md-font-set="material-icons">signal_wifi_4_bar</md-icon>
          Media
    </md-list-item>

    <md-list-item ui-sref="conference.details" ui-sref-active="active">
        <md-icon md-font-set="material-icons">assignment</md-icon>
          Conference Details (incl Venue)
    </md-list-item>

  </md-list>
</md-sidenav>

<md-content flex layout-padding>

  <div ui-view class="contentView">
    <h1>Dashboard</h1>
    <p>This is where the magic will happen!</p>

  </div>
</md-content>
